﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.Tool.ToolAcceptResolutionModel

<h1>Tools</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Multiple tool requests
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Users requesting tool</label>
                        @Html.EditorFor(e => e.PendingRequests)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>