﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.Tool.ToolCreateModel

<h1>Tools</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Create a tool
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label>Model</label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Manufacture</label>
                            <input asp-for="Manufacture" class="form-control" />
                            <span asp-validation-for="Manufacture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Assigned user</label>
                            <select asp-items="@Model.UserOptions" asp-for="UserId" class="form-control"></select>
                            <span asp-validation-for="UserOptions" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Create" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>