﻿@using AssetManagementPlatform.ConstructionModule.Code.Authentication.Extensions
@using AssetManagementPlatform.ConstructionModule.Entities.Events
@using AssetManagementPlatform.Core.DB.Entities
@using Humanizer
@model AssetManagementPlatform.ConstructionModule.ViewModels.Tool.ToolDetailsModel
@{
    ViewData["Title"] = "Index";
}

@{
    string modifiers = "";
    string title = "";
}

<div class="card">
<div class="card-body">
    @{
        modifiers = "";
        title = "";
        @if (!User.GetConstructionUserPermissions().CanReportTool)
        {
            modifiers += "disabled";
            title = "You don't have permissions for this";
        }
        <div class="float-right" title="@title">
            <a class="btn btn-warning @modifiers" asp-action="Report" asp-route-toolId="@Model.Id" asp-route-reason="Test">Report broken</a>
        </div>
    }
    <h4>Tool details</h4>
    <div class="form-group">
        <dl>
            <dt>Model</dt>
            <dd>@Model.Model</dd>
            <dt>Manufacture</dt>
            <dd>@Model.Manufacture</dd>
            <dt>Price</dt>
            <dd>@Model.Price</dd>
            @if (@Model.AssignedUser != null)
            {
                <dt>Current assignee</dt>
                <dd>@Model.AssignedUser.FullName</dd>
            }
            <dt>Created On</dt>
            <dd title="@Model.CreatedOn">@Model.CreatedOn.Humanize()</dd>
            <dt>Updated On</dt>
            <dd title="@Model.UpdatedOn">@Model.UpdatedOn.Humanize()</dd>
        </dl>
    </div>
</div>
<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Reported issues</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Issue
                        </th>
                        <th>
                            Reported by
                        </th>
                        <th>
                            Issue created
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (ReportBrokenEvent item in Model.BrokenEvents.OrderByDescending(a => a.CreatedOn))
                    {
                        <tr>
                            <td>
                                @item.Reason
                            </td>
                            <td>
                                @item.ReportedByUser.FullName
                            </td>
                            <td title="@item.CreatedOn">
                                @item.CreatedOn.Humanize()
                            </td>
                            <td>
                                @{

                                    @if (!User.GetConstructionUserPermissions().CanFixTool)
                                    {
                                        modifiers = "disabled";
                                        title = "You don't have permissions for this";
                                    }
                                }
                                <a class="btn btn-warning float-right @modifiers" title="@title" asp-action="ReportFixed" asp-route-eventId="@item.Id" asp-route-toolId="@Model.Id">Report fixed</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Events</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Created On
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Event item in Model.Events.OrderByDescending(a => a.CreatedOn))
                        {
                            <tr>
                                <td>
                                    @item.Type
                                </td>
                                <td title="@item.CreatedOn">
                                    @item.CreatedOn.Humanize()
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>