﻿@using AssetManagementPlatform.ConstructionModule.Code.Authentication.Extensions
@using AssetManagementPlatform.ConstructionModule.ViewModels.Tool.Model
@using AssetManagementPlatform.Core.Authorization.Extensions
@using AssetManagementPlatform.Core.IdHelpers
@using Humanizer
@model ICollection<AssetManagementPlatform.ConstructionModule.ViewModels.Tool.Model.ToolModel>
@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetConstructionUserPermissions();
}

<a class="btn btn-sm btn-success float-right @(permissions.CanCreateTool ? "" : "disabled")" asp-action="Create">Create tool</a>

<form method="get" asp-action="Index">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>
<br />
<h1>Your tools</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Manufacture
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToolModel item in Model.OrderBy(a => a.Tool.Price).Where(x => x.AssignedUser?.Id == User.GetUserId().Id))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Tool.Id">@item.Tool.Model</a>
                </td>
                <td>
                    @item.Tool.Manufacture
                </td>
                <td>
                    @item.Tool.Price
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning @(permissions.CanEditTool ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Tool.Id">Edit</a>
                    @if (item.RequestEvents.Count > 1)
                    {
                        <a class="btn btn-sm" asp-action="AcceptResolution" asp-route-id="@item.Tool.Id">Accept</a>
                    }
                    else if (item.RequestEvents.Count == 1)
                    {
                        <a class="btn btn-sm" asp-action="Accept" asp-route-eventId="@item.RequestEvents.SingleOrDefault().Id" asp-route-userId="@item.RequestEvents.SingleOrDefault().RequestingUserId" asp-route-toolId="@item.Tool.Id">Accept</a>
                    }
                    <a class="btn btn-sm btn-danger @(permissions.CanDeleteTool ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Tool.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (permissions.CanSeeAllTools)
{
    <h1>Tools in organization</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Model
                </th>
                <th>
                    Manufacture
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ToolModel item in Model.OrderBy(a => a.Tool.Price).Where(x => x.AssignedUser?.Id != User.GetUserId().Id))
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Tool.Id">@item.Tool.Model</a>
                    </td>
                    <td>
                        @item.Tool.Manufacture
                    </td>
                    <td>
                        @item.Tool.Price
                    </td>
                    <td class="text-nowrap">
                        @if (item.RequestEvents.Any(x => x.RequestingUserId == User.GetUserId().Id))
                        {
                            <a class="btn btn-sm btn-warning @(permissions.CanRequestTool ? "" : "disabled")" asp-action="CancelToolRequest" asp-route-id="@item.RequestEvents.FirstOrDefault().Id">Cancel request</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-warning @(permissions.CanRequestTool ? "" : "disabled")" asp-action="ToolRequest" asp-route-id="@item.Tool.Id">Request</a>
                        }

                        <a class="btn btn-sm btn-warning @(permissions.CanEditTool ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Tool.Id">Edit</a>
                        @if (item.AssignedUser != null && User.GetUserId() == new UserId(item.AssignedUser.Id))
                        {
                            <a class="btn btn-sm" asp-action="Accept" asp-route-id="@item.Tool.Id">Accept</a>
                        }
                        <a class="btn btn-sm btn-danger @(permissions.CanDeleteTool ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Tool.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}