﻿@using AssetManagementPlatform.ConstructionModule.Code.Authentication.Extensions
@using AssetManagementPlatform.ConstructionModule.ViewModels.Tool.Model
@model ICollection<ToolModel>
@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetConstructionUserPermissions();
}

<h1>Tools in organization</h1>

<p>
    <a class="btn btn-sm @(permissions.CanCreateTool ? "" : "disabled")" asp-action="Create">Create tool</a>
</p>

<form method="get" asp-action="Index">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Manufacture
            </th>
            <th>
                Assignee
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToolModel item in Model.OrderBy(a => a.Tool.Price))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Tool.Id">@item.Tool.Model</a>
                </td>
                <td>
                    @item.Tool.Manufacture
                </td>
                <td>
                    @if (item.AssignedUser != null)
                    {
                        <span>@item.AssignedUser.FullName</span>
                    }
                    else
                    {
                        <span>-----</span>
                    }
                </td>
                <td>
                    <a asp-action="TransferToMe" asp-route-id="@item.Tool.Id">Transfer to me</a>
                </td>
                <td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning @(permissions.CanEditTool ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Tool.Id">Edit</a>
                    <a class="btn btn-sm btn-danger @(permissions.CanDeleteTool ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Tool.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>