﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@model List<AssetManagementPlatform.SchoolModule.ViewModels.Book.BookModel>

@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetSchoolUserPermissions();
}

<a class="btn btn-sm btn-success float-right @(permissions.CanCreateBook ? "" : "disabled")" asp-action="Create">Create Book</a>
<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>Assigned user</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(a => a.Book.Title))
        {
            <tr>
                <td>
                    @item.Book.Title
                </td>
                <td>
                    @item.Book.Author
                </td>
                <td>
                    @item.AssignedUser?.FullName
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning @(permissions.CanEditBook ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Book.Id">Edit</a>
                    <a class="btn btn-sm btn-danger @(permissions.CanEditBook ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>