﻿@using AssetManagementPlatform.SchoolModule.Entities;
@model AssetManagementPlatform.SchoolModule.ViewModels.Teacher.TeacherDetailsModel

<div class="container-fluid">
    <div class="d-flex flex-column">
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Teacher details</h4>
                    <div class="form-group">
                        <dl>
                            <dt>Name</dt>
                            <dd>@Model.FullName</dd>
                            @if (!string.IsNullOrWhiteSpace(Model.Address))
                            {
                                <dt>Address</dt>
                                <dd>@Model.Address</dd>
                            }
                            <dt>Date of birth</dt>
                            <dd>@Model.DateOfBirth.ToString("dd/MM/yyyy")</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Assigned classes</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Class name
                                </th>
                            </tr>
                        </thead>
                       <tbody>
                           @foreach (Classroom item in Model.AssignedClassrooms.OrderBy(a => a.Name)) 
                           {
                               <tr>
                                   <td>
                                       <a asp-controller="Classroom" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                   </td>
                               </tr>
                           }
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>