﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@using AssetManagementPlatform.SchoolModule.Entities
@model IEnumerable<AssetManagementPlatform.SchoolModule.Entities.Teacher>

@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetSchoolUserPermissions();
}

<h1>Your teachers</h1>

<form method="get" asp-action="IndexTeacher">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
    <span class="input-group-append">
        <button class="btn btn-primary">Søg</button>
    </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Date of birth
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Teacher item in Model.OrderBy(a => a.FirstName))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.FirstName</a>
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.ToString("dd/MM/yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>