﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@using AssetManagementPlatform.SchoolModule.Entities
@model IEnumerable<AssetManagementPlatform.SchoolModule.Entities.Teacher>

@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetSchoolUserPermissions();
}

<a class="btn btn-sm btn-success float-right" asp-action="Create">Create teacher</a>
<h1>Teachers</h1>

<form method="get" asp-action="IndexTeacher">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Date of birth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Teacher item in Model.OrderBy(a => a.FirstName))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.FirstName</a>
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.ToString("dd/MM/yyyy")
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning @(permissions.EditTeacher ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger @(permissions.DeleteTeacher ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>