﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.Reservation.ReservationEditModel
@{
    ViewData["Title"] = "Edit reservation";
}
<h1>Reservation</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Edit a reservation
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" asp-antiforgery="true">
                        <div class="form-group">
                            <label>Reserved to</label>
                            <select asp-items="@Model.ReservedToOptions" name="@nameof(Model.ReservedToId)" class="form-control"></select>
                            <span asp-validation-for="ReservedToId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Reserved asset</label>
                            <select asp-items="@Model.ReservedAssetOptions" name="@nameof(Model.ReservedAssetId)" class="form-control"></select>
                            <span asp-validation-for="ReservedAssetId" type="date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Reservation end date</label>
                            <input asp-for="ReservationEndDate" class="form-control" />
                            <span asp-validation-for="ReservationEndDate" type="date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Edit" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>