﻿@using AssetManagementPlatform.ConstructionModule.ViewModels.Reservation.Model
@model AssetManagementPlatform.ConstructionModule.ViewModels.Reservation.ReservationIndexModel
@{
    ViewData["Title"] = "Reservations";
}

<a class="btn btn-sm btn-success float-right" asp-action="Create">Create reservation</a>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Reservations
            </div>
            <div class="card-body">
                @if (Model.Reservations.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Model</th>
                                <th>Manufacture</th>
                                <th>Reserved from</th>
                                <th>Reserved to</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        @foreach (ReservationModel reservationModel in Model.Reservations)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Tool" asp-action="Details" asp-route-id="@reservationModel.Tool.Id">@reservationModel.Tool.Model</a>
                                </td>
                                <td>
                                    @reservationModel.Tool.Manufacture
                                </td>
                                <td>
                                    @reservationModel.ReservationEvent.ReservationStartDate.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @reservationModel.ReservationEvent.ReservationEndDate.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-nowrap">
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@reservationModel.ReservationEvent.Id">Edit</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@reservationModel.ReservationEvent.Id">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>No active reservations</span>
                }
            </div>
        </div>

    </div>
</div>