﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@model AssetManagementPlatform.SchoolModule.ViewModels.Homework.HomeworkDetailsModelStudent

<h1>Homework</h1>
@{
    var permissions = User.GetSchoolUserPermissions();
}

<div class="container-fluid">
    <div class="d-flex flex-column">
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Homework details</h4>

                    <div class="form-group">
                        <dl>
                            <dt>Title</dt>
                            <dd>@Model.Title</dd>
                            <dt>Class</dt>
                            <dd>@Model.Classroom.Name</dd>
                            @if (@Model.SubmissionDate != null)
                            {
                                <dt>Submitted on</dt>
                                <dd>@Model.SubmissionDate</dd>
                            }
                            <dt>Created on</dt>
                            <dd>@Model.DueDate</dd>
                            <a class="btn btn-sm btn-success float-right" asp-action="SubmitHomework" asp-route-id="@Model.Id">Submit homework</a>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>