﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@using AssetManagementPlatform.SchoolModule.Entities;
@model AssetManagementPlatform.SchoolModule.ViewModels.Homework.HomeworkDetailsModelTeacher

<h1>Homework</h1>
@{
    var permissions = User.GetSchoolUserPermissions();
}

<div class="container-fluid">
    <div class="d-flex flex-column">
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Homework details</h4>
                    <div class="form-group">
                        <dl>
                            <dt>Title</dt>
                            <dd>@Model.Title</dd>
                            <dt>Class</dt>
                            <dd>@Model.Classroom.Name</dd>
                            <dt>Created on</dt>
                            <dd>@Model.DueDate.ToString("dd/MM/yyyy")</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Missing homework submissions</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Firstname
                            </th>
                            <th>
                                Lastname
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Student item in Model.MissingSubmissions.OrderByDescending(a => a.FullName))
                        {
                            <tr>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>