﻿@model AssetManagementPlatform.SchoolModule.ViewModels.Homework.HomeworkEditModel

<h1>Homework</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Edit homework
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" asp-antiforgery="true">
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Due date</label>
                            <input asp-for="DueDate" type="date" class="form-control" value="@Model.DueDate" />
                            <span asp-validation-for="DueDate" type="date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Classes</label>
                            <select asp-items="@Model.ClassroomSelections" name="@nameof(Model.ClassroomId)" class="form-control"></select>
                            <span asp-validation-for="ClassroomId" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="IndexStudent" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Create" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>