﻿@using AssetManagementPlatform.SchoolModule.Entities
@model IEnumerable<AssetManagementPlatform.SchoolModule.Entities.Homework>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-sm btn-success float-right" asp-action="Create">Create homework</a>
<h1>Homework</h1>

<form method="get" asp-action="IndexTeacher">
    <div class="input-group">
        <input name="query" class="form-control" type="text" placeholder="Søg" aria-label="Search">
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Class
            </th>
            <th>
                Created on
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Homework item in Model.OrderBy(x => x.Classroom.Name).OrderBy(x => x.CreatedOn))
        {
            <tr>
                <td>
                    <a asp-action="DetailsTeacher" asp-route-id="@item.Id">@item.Title</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Classroom" asp-route-id="@item.ClassroomId">@item.Classroom.Name</a>
                </td>
                <td>
                    @item.CreatedOn.ToString("dd/MM/yyyy")
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
            </tr>
        }
    </tbody>
</table>