﻿@using AssetManagementPlatform.SchoolModule.ViewModels.Homework
@model IEnumerable<AssetManagementPlatform.SchoolModule.ViewModels.Homework.HomeworkModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Homework</h1>

<form method="get" asp-action="IndexStudent">
    <div class="input-group">
        <input name="query" class="form-control" type="text" placeholder="Søg" aria-label="Search">
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Class
            </th>
            <th>
                Submitted
            </th>
            <th>
                Created on
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (HomeworkModel item in Model.OrderBy(x=>x.Homework.CreatedOn))
        {
        <tr>
            <td>
                <a asp-action="DetailsStudent" asp-route-id="@item.Homework.Id">@item.Homework.Title</a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Classroom" asp-route-id="@item.Homework.ClassroomId">@item.Homework.Classroom.Name</a>
            </td>
            <td>
                @item.SubmissionDate?.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Homework.CreatedOn.ToString("dd/MM/yyyy")
            </td>
            <td>
        </tr>
        }
    </tbody>
</table>