﻿@model AssetManagementPlatform.SchoolModule.ViewModels.Homework.HomeworkSubmissionModel;
<h1>Homework</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Submit homework
                </div>
                <div class="card-body">
                    <form asp-action="SubmitHomework" method="post">
                        <div class="form-group">
                            <label>Answer</label>
                            <input asp-for="Answer" class="form-control" />
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="IndexStudent" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Create" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>