﻿@using AssetManagementPlatform.Core.Authorization.Extensions
@using AssetManagementPlatform.Core.DB.Entities
@model AssetManagementPlatform.MessageModule.ViewModels.Message.MessageViewModel
@{
    ViewData["Title"] = "Messages";
}

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Contacts (@Model.UserListCount)
            </div>
            <ul class="list-group list-group-flush">
                @foreach (User user in Model.UserList)
                {
                    <li class="list-group-item">
                        <img src="@Url.Content("~/Content/no_avatar.png")" width="25px" alt="avatar">
                        <a asp-action="Index" asp-route-currentConversationUserId="@user.Id">@user.FullName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Messages with @Model.Receiver.FullName
                <p>Messages: @Model.Messages.Count </p>
            </div>
            <div class="card-body">
                @foreach (Message message in Model.Messages.OrderBy(x=>x.CreatedOn))
                {
                    <br />
                    <div class="d-flex justify-content-between @(message.SenderId == User.GetUserId().Id ? "float-right" : "float-left")">

                        <span title="@message.CreatedOn">@message.Text</span>
                    </div>
                }
                <br />
                <form method="post" asp-antiforgery="true" asp-action="SendMessage">
                    <input asp-for="UserToSendTo" value="@Model.Receiver.Id" hidden />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                        <input class="form-control" type="text" placeholder="Type your message" asp-for="TextToSend" />
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>