﻿@using Humanizer
@model AssetManagementPlatform.Frontend.ViewModels.Organization.OrganizationDetailsModel

<div class="card">
    <div class="card-body">
        <h4>Organization details</h4>
        <div class="form-group">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dt>Address</dt>
                    <dd>@Model.Address</dd>
                }
                <dt>Created On</dt>
                <dd title="@Model.CreatedOn">@Model.CreatedOn.Humanize()</dd>
                <dt>Updated On</dt>
                <dd title="@Model.UpdatedOn">@Model.UpdatedOn.Humanize()</dd>
            </dl>
        </div>
    </div>
</div>