﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.Construction.ConstructionEngineerIndexModel

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Broken Tools
            </div>
            <div class="card-body">
                @if (Model.BrokenTools.Any())
                {
                    <ul>
                        @foreach (var item in Model.BrokenTools)
                        {
                            <li>
                                <a asp-controller="Tool" asp-action="Details" asp-route-id="@item.Id">@item.Model</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <span>No currently broken tools</span>
                }
            </div>
        </div>
    </div>

</div>