﻿@{
    ViewData["Title"] = "Home Page";
}
@{
    bool school;
#if School
school = true;
#else
    school = false;

#endif
}
@if (!school)
{
    <span>Construction:</span>
    <br />
    <a asp-action="Auth" asp-route-id="con1">Manager</a>
    <br />
    <a asp-action="Auth" asp-route-id="con2">Worker</a>
    <br />
    <a asp-action="Auth" asp-route-id="con3">Engineer</a>
    <br />
}
else
{
    <span>School:</span>
    @*<br />
    <a asp-action="Auth" asp-route-id="sch1">Manager</a>*@
    <br />
    <a asp-action="Auth" asp-route-id="sch2">Teacher</a>
    <br />
    <a asp-action="Auth" asp-route-id="sch3">Student</a>
    <br />
}

<br />
<a asp-action="Auth" asp-route-id="">Logout</a>