﻿@using AssetManagementPlatform.ConstructionModule.Entities
@using AssetManagementPlatform.Core.DB.Entities
@using Humanizer
@model AssetManagementPlatform.ConstructionModule.Entities.ToolSubscriptionGroup
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4>Group details</h4>
        <div class="form-group">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                <dt>Engineers</dt>
                <dd>@Model.Engineers.Count()</dd>
                <dt>Tools</dt>
                <dd> @Model.Tools.Count()</dd>
                <dt>Created On</dt>
                <dd title="@Model.CreatedOn">@Model.CreatedOn.Humanize()</dd>
                <dt>Updated On</dt>
                <dd title="@Model.UpdatedOn">@Model.UpdatedOn.Humanize()</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Subscribed Engineers</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User item in Model.Engineers)
                        {
                            <tr>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    <form method="post" asp-action="DeleteSubscriber" asp-route-id="@Model.Id" asp-route-userId="@item.Id">
                                        <button class="btn btn-sm btn-danger" type="submit">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Included Tools</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Model
                            </th>
                            <th>
                                Manufacture
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Tool item in Model.Tools)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Tool" asp-action="Details" asp-route-id="@item.Id">@item.Model</a>
                                </td>
                                <td>
                                    @item.Manufacture
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    <form method="post" asp-action="DeleteTool" asp-route-id="@Model.Id" asp-route-toolId="@item.Id">
                                        <button class="btn btn-sm btn-danger" type="submit">Remove</button>
                                    </form>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>