﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.Subscription.SubsctiptionEditModel

<h1>Subscription</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Edit a subscription
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" asp-antiforgery="true">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Engineers</label>
                            @Html.EditorFor(x => x.SubscribedEngineers)
                        </div>
                        <div class="form-group">
                            <label>Tools</label>
                            @Html.EditorFor(y => y.SubscribedTools)
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Confirm" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>