﻿@model ICollection<AssetManagementPlatform.ConstructionModule.Entities.ToolSubscriptionGroup>
@{
    ViewData["Title"] = "Index";
}

<h1>Tool Notification groups</h1>

<form method="post" asp-action="Create">
    <div class="input-group">
        @Html.TextBox("name", "", new { @class = "form-control", placeholder = "Gruppe navn" })
        <span class="input-group-append">
            <button class="btn btn-success" type="submit">Create</button>
        </span>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Subscribers
            </th>
            <th>
                Tools
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                @item.Engineers.Count()
            </td>
            <td>
                @item.Tools.Count()
            </td>
            <td class="text-nowrap">
                <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>