﻿@using AssetManagementPlatform.Core.DB.Entities
@using AssetManagementPlatform.Core.DB.Entities.Events
@using AssetManagementPlatform.SchoolModule.Entities
@model AssetManagementPlatform.SchoolModule.ViewModels.School.SchoolTeacherIndexViewModel

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Classes
            </div>
            <div class="card-body">
                @if (Model.Classrooms.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Class name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Classroom classroom in @Model.Classrooms)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-controller="Classroom" asp-route-id="@classroom.Id">@classroom.Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>No classes assigned</span>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Reservations
            </div>
            <div class="card-body">
                @if (Model.ReservationEvents.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Reserved
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ReservationEvent reservationEvent in @Model.ReservationEvents)
                            {
                                <tr>
                                    @{
                                        Asset asset = reservationEvent.ReservedAsset;
                                        string assetName = string.Empty;
                                        switch (asset)
                                        {
                                            case Book book:
                                                assetName = book.Title;
                                                break;
                                            case User user:
                                                assetName = user.FullName;
                                                break;
                                        }
                                    }
                                    <td>
                                        <a asp-action="Details" asp-controller="Reservation" asp-route-id="@reservationEvent.Id">@assetName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>No reservations made</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Recent messages
            </div>
            <div class="card-body">
                @if (Model.Messages.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Message
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    Received On
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Message message in @Model.Messages)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Index" asp-controller="Message" asp-route-currentConversationUserId="@message.ReceiverId">@message.Text</a>
                                    </td>
                                    <td>
                                        @message.Sender.FullName
                                    </td>
                                    <td>
                                        @message.CreatedOn
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>No messages</span>
                }
            </div>
        </div>
    </div>
</div>