﻿@using Humanizer
@model AssetManagementPlatform.ConstructionModule.ViewModels.User.UserDetailsModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4>User details</h4>
        <div class="form-group">
            <dl>
                <dt>Name</dt>
                <dd>@Model.FullName</dd>
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dt>Address</dt>
                    <dd>@Model.Address</dd>
                }
                <dt>Assigned project</dt>
                <dd>@Model.Project.Name</dd>
                <dt>Created On</dt>
                <dd title="@Model.CreatedOn">@Model.CreatedOn.Humanize()</dd>
                <dt>Updated On</dt>
                <dd title="@Model.UpdatedOn">@Model.UpdatedOn.Humanize()</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Tools</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Model
                        </th>
                        <th>
                            Manufacture
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Updated On
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Tools.OrderBy(a => a.Model))
                    {
                        <tr>
                            <td>
                                <a asp-controller="Tool" asp-action="Details" asp-route-id="@item.Id">@item.Model</a>
                            </td>
                            <td>
                                @item.Manufacture
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.Project?.Name
                            </td>
                            <td title="@item.CreatedOn">
                                @item.CreatedOn.Humanize()
                            </td>
                            <td title="@item.UpdatedOn">
                                @item.UpdatedOn.Humanize()
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>