﻿@model AssetManagementPlatform.ConstructionModule.ViewModels.User.UserEditModel

<h1>Users</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Edit a User
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" asp-antiforgery="true">
                        <div class="form-group">
                            <label>Firstname</label>
                            <input asp-for="Firstname" class="form-control" />
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Lastname</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Project</label>
                            <select asp-items="@Model.ProjectOptions" name="@nameof(Model.ProjectId)" class="form-control"></select>
                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Create" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>