﻿@using AssetManagementPlatform.ConstructionModule.Code.Authentication.Extensions
@using AssetManagementPlatform.Core.Authorization.Extensions
@using AssetManagementPlatform.Core.DB.Entities
@model IEnumerable<AssetManagementPlatform.Core.DB.Entities.User>
@{
    ViewData["Title"] = "Index";
}

@{
    var permissions = User.GetUserPermissions();
    var constructionSitePermissions = User.GetConstructionUserPermissions();
}


<a class="btn btn-sm btn-success float-right" asp-action="Create">Create user</a>
<h1>Users</h1>


<form method="get" asp-action="Index">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Project
            </th>
            @if (permissions.IsAdmin)
            {
                <th>
                    Organization
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (User item in Model.OrderBy(a => a.LastName).OrderBy(a => a.FirstName))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
                </td>
                <td>
                    @item.Project.Location.Address
                </td>
                <td>
                    @item.Project.Name
                </td>
                @if (permissions.IsAdmin)
                {
                    <td>
                        @item.Organization.Name
                    </td>
                }
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning @(constructionSitePermissions.CanEditUser ? "" : "disabled")" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger @(constructionSitePermissions.CanDeleteUser ? "" : "disabled")" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>