﻿@using AssetManagementPlatform.SchoolModule.Entities;
@using AssetManagementPlatform.SchoolModule.Entities.Events
@model AssetManagementPlatform.SchoolModule.ViewModels.Student.StudentDetailsModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4>Student details</h4>
        <div class="form-group">
            <dl>
                <dt>Name</dt>
                <dd>@Model.FullName</dd>
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dt>Address</dt>
                    <dd>@Model.Address</dd>
                }
                <dt>Date of birth</dt>
                <dd>@Model.DateOfBirth.ToString("dd/MM/yyyy")</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Assigned classes</h4>
                @foreach (Classroom item in Model.AssignedClassrooms.OrderBy(a => a.Name))
                {
                    <div class="p-2">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Class name
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a asp-controller="Classroom" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                        </td>
                                        @foreach (StudentAbsentEvent absentEvent in Model.AbsentStudentEvents.Where(x => x.ClassroomId == item.Id))
                                        {
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        Student absence
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr>
                                                    <td>
                                                        <a>Student absent in class (@absentEvent.CreatedOn.ToString("dd/MM/yyyy"))</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>