﻿@using AssetManagementPlatform.Core.DB.Entities
@using Humanizer
@model AssetManagementPlatform.ConstructionModule.ViewModels.Project.ProjectDetailsModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4>Project details</h4>
        <div class="form-group">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dt>Address</dt>
                    <dd>@Model.Address</dd>
                }
                <dt>Created On</dt>
                <dd title="@Model.CreatedOn">@Model.CreatedOn.Humanize()</dd>
                <dt>Updated On</dt>
                <dd title="@Model.UpdatedOn">@Model.UpdatedOn.Humanize()</dd>
            </dl>
        </div>
    </div>
</div>
<div class="row py-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>Users</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Updated On
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User item in Model.Users.OrderBy(a => a.FullName))
                        {
                            <tr>
                                <td>
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
                                </td>
                                <td title="@item.UpdatedOn">
                                    @item.UpdatedOn.Humanize()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>