﻿@using AssetManagementPlatform.ConstructionModule.Code.Authentication.Extensions
@using AssetManagementPlatform.Core.Authorization.Permissions
@using AssetManagementPlatform.Core.DB.Entities
@using Humanizer
@model IEnumerable<AssetManagementPlatform.Core.DB.Entities.Project>
@{
    ViewData["Title"] = "Index";
}
@{
    bool canSeeOrganizations = User.GetConstructionUserPermissions().HasAllPermissions(nameof(BaseSitePermissions.CanSeeOrganizations));
}


<a class="btn btn-sm btn-success float-right" asp-action="Create">Create project</a>

<h1>Project</h1>


<form method="get" asp-action="Index">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Søg" })
        <span class="input-group-append">
            <button class="btn btn-primary">Søg</button>
        </span>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            @if (canSeeOrganizations)
            {
                <th>
                    Org name
                </th>
            }
            <th>
                Updated On
            </th>
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project item in Model.OrderBy(a => a.Name))
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    @item.Location.Address
                </td>
                @if (canSeeOrganizations)
                {
                    <td>
                        @item.Organization.Name
                    </td>
                }
                <td title="@item.UpdatedOn">
                    @item.UpdatedOn.Humanize()
                </td>
                <td title="@item.CreatedOn">
                    @item.CreatedOn.Humanize()
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>