﻿@model AssetManagementPlatform.SchoolModule.ViewModels.Classroom.ClassroomCreateModel

<h1>Classes</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Create a class
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Students</label>
                            @Html.EditorFor(x => x.StudentSelections)
                        </div>
                        <div class="form-group">
                            <label>Teachers</label>
                            @Html.EditorFor(x => x.TeacherSelections)
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            <input type="submit" name="submit" value="Create" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
