﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions;
@using AssetManagementPlatform.SchoolModule.Entities.Events;
@model AssetManagementPlatform.SchoolModule.ViewModels.Classroom.ClassroomDetailsModel

@{
    string modifiers = "";
    string title = "";
    var permissions = User.GetSchoolUserPermissions();
    @if (!permissions.MarkAbsence)
    {
        modifiers += "disabled";
        title = "You don't have permissions for this";
    }

}
<div class="container-fluid">
    <div class="d-flex flex-column">
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Classroom details</h4>
                    <div class="form-group">
                        <dl>
                            <dt>Class name</dt>
                            <dd>@Model.Name</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Assigned students</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Firstname
                                </th>
                                <th>
                                    Lastname
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model.AssignedStudents)
                            {
                                StudentAbsentEvent absentStudentEvent = @Model.AbsentStudentEvents.FirstOrDefault(x => x.AssetId == student.Id);

                                <tr>
                                    <td>
                                        <a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">@student.FirstName</a>
                                    </td>
                                    <td>
                                        @student.LastName
                                    </td>
                                    <td>
                                        @if (permissions.IsTeacher)
                                        {
                                            @if (absentStudentEvent != null)
                                            {
                                                <a class="btn btn-warning float-right @modifiers" asp-action="UnmarkAbsense" asp-route-studentId="@absentStudentEvent.Id" asp-route-Id="@Model.Id">Unmark absent</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-warning float-right @modifiers" asp-action="MarkAbsence" asp-route-studentId="@student.Id" asp-route-Id="@Model.Id">Mark absent</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Assigned teachers</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Firstname
                                </th>
                                <th>
                                    Lastname
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Model.AssignedTeachers)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Teacher" asp-action="Details" asp-route-id="@teacher.Id">@teacher.FirstName</a>
                                    </td>
                                    <td>
                                        @teacher.LastName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>