﻿@using AssetManagementPlatform.SchoolModule.Code.Authentication.Extensions
@model List<AssetManagementPlatform.SchoolModule.Entities.Classroom>
@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = User.GetSchoolUserPermissions();
}
<a class="btn btn-sm btn-success float-right @(permissions.CanCreateClass ? "" : "disabled")" asp-action="Create">Create class</a>
<h1>
    Classes
</h1>
<form method="get" asp-action="Index">
    <div class="input-group">
        @Html.TextBox("query", "", new { @class = "form-control", placeholder = "Search" })
        <span class="input-group-append">
            <button class="btn btn-primary">Search</button>
        </span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var classroom in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@classroom.Id">@classroom.Name</a>
                    </td>
                    <td class="text-nowrap">
                        <a class="btn btn-sm btn-warning @(permissions.CanEditClass ? "" : "disabled")" asp-action="Edit" asp-route-id="@classroom.Id">Edit</a>
                        <a class="btn btn-sm btn-danger @(permissions.CanDeleteClass ? "" : "disabled")" asp-action="Delete" asp-route-id="@classroom.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <span>No active classes</span>
        }
    </tbody>
</table>